
   *{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Poppins", sans-serif;
}
        body{
            font-family: Arial, sans-serif; 
            background-color: rgb(255, 252, 241); 
        }
.navbar {
    background-color:#843107; 
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;

}
.left-section {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo {
    height: 50px;
    border-radius:45px;
    padding: 5px 5px 5px 7px;
}
.brand-name {
    color: white;
    margin: 0;
    font-size: 27px;
    font-weight:dark;
}
.center-links {
    display:flex;
    gap:30px;
    margin: 0;     
    padding: 0;
}
.center-links a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 800;
    transition: 0.3s;
}
.center-links a:hover {
    color: darkorange;
}
.right-links {
    display: flex;
    gap: 15px;
}
.right-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
    font-weight: 800;
    padding-right: 20px;
}
.right-links a:hover {
    color: darkorange;
}

