*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.gallery-container{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 18px;
}

.sub-card-contain{
    position: relative;
    width:100%;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
    margin-left: 30px;
    gap :30px
}

.sub-card-contain img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s ease-in-out;
}

.sub-card-contain:hover img{
    transform: scale(1.02);
}

.tag{
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0,0,0,0.65);
    color: hsl(0, 0%, 100%);
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}
