*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: rgb(255, 252, 241); 
  width:100%;
}

.navbar {
    background-color:#843107; 
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;

}
.left-section {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo {
    height: 50px;
    border-radius:45px;
    padding: 5px 5px 5px 7px;
}
.brand-name {
    color: white;
    margin: 0;
    font-size: 27px;
    font-weight:dark;
}
.center-links {
    display:flex;
    gap:30px;
    margin: 0;     
    padding: 0;
}
.center-links a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 800;
    transition: 0.3s;
}
.center-links a:hover {
    color: darkorange;
}
.right-links {
    display: flex;
    gap: 15px;
}
.right-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
    font-weight: 800;
    padding-right: 20px;
}
.right-links a:hover {
    color: darkorange;
}

.container{
  width:100%;
  padding:50px 0;
  justify-content: space-between;
}

.section-title{
  text-align:center;
  font-size:32px;
  color:#111;
  font-weight:700;
  margin-bottom:27px;
}


.happy-slider{
    display:flex;
    gap:30px;
    overflow-x:auto;
    padding: 10px 30px 20px 30px;
}

.happy-card{
    min-width:340px;
    background:#ffffff;
    border-radius:14px;
    padding:15px;
    text-align:center;
    box-shadow:0 4px 14px rgba(0,0,0,0.15);
    transition:0.3s;
}

.happy-card:hover{
    transform:translateY(-5px);
}

.happy-card video{
    width:100%;
    border-radius:14px;
}

.caption{
  margin-top:10px; 
  font-size:18px;
  font-weight:600;
  color:#222;
}
.location{
  font-size:14px;
  color:#666;
}


.reviews-grid{
    width:85%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:25px;
}

.review-card{
    background:rgb(255, 255, 255);
    border-radius:14px;
    padding:20px;
    box-shadow:0 4px 14px rgba(0,0,0,0.15);
    transition:.3s;
}

.review-card:hover{
    transform: translateY(-5px);
}

.review-text{
  font-size:15px;
  color:#444;
  margin-top:6px;
}

.profile{
  display:flex;
  align-items:center;
  gap:12px;
}

.profile-img{
  width:55px;
  height:55px;
  border-radius:50%;
  object-fit:cover;
}

.quote-icon{
    font-size:30px;
    color:#008b8b;
    display:block;
    margin:5px 0;
}

.reviewer{
  font-weight:700;
  font-size:17px;
}
.meta{
  color:#666;
  font-size:14px;
}


.stars{
  color:rgb(255,165,0);
  font-size:18px;
  margin-top:8px;
  text-align:right;
}

.load-more{
  text-align:center;
  margin:40px 0;
}
.load-btn{
    background:#025858;
    color:#fff;
    padding:14px 35px;
    border:none;
    border-radius:git30px;
    font-size:18px;
    cursor:pointer;
    font-weight:600;
    transition:.3s;
}
.load-btn:hover{
    background:rgb(145, 209, 228);
    transform:scale(1.04);
}

@media(max-width:900px){
  .reviews-grid{
    grid-template-columns:1fr;
    width:92%;
  }
  .happy-card{
    min-width:300px;
  }
}
