

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fffcf1;
}

.navbar-main-container {
    background-color: rgb(137, 53, 53);
    color: rgb(244, 241, 241);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
}


.logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.project-name {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.main-logo {
    border-radius: 30px;

}

.nav-links-container {
    display: flex;
    gap: 20px;
    cursor: pointer;
    color: #f9f9f9;
}

.nav-text-container {
    color: #f9f5f5;
    text-decoration: none;
}

.auth-links-containar {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.gallery-container-text {
    margin-top: 30px;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 30px;
}

.gallery-container {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 18px;
}

.sub-card-contain {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    margin-left: 30px;
    gap: 30px
}

.sub-card-contain img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s ease-in-out;
}

.sub-card-contain:hover img {
    transform: scale(1.02);
}

.tag {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.65);
    color: hsl(0, 0%, 100%);
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}




.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    background: rgb(246, 237, 233);
    border-radius: 15px;
    overflow: hidden;
    width: 90%;
    max-width: 760px;
    margin: 40px auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.07);
}


.left-side {
    flex: 1;
    width: 50%;
    padding: 30px 25px;
    background: rgb(246, 237, 233);

}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d8c48a;
    padding-bottom: 10px;
}


.brand-logo-img {
    width: 45px;
    height: 45px;
    border-radius: 8px;
}



.brand-text {
    font-size: 16px;
    font-weight: bold;
    color: goldenrod;
}

.left-side h1 {
    font-size: 26px;
    margin: 8px 0;
    font-weight: bold;
    color: #2f2722;
    line-height: 1.2;
}

.left-side p {
    color: #6c625b;
    line-height: 1.3;
    font-size: 13px;
}

.interior-img {
    width: 100%;
    height: auto;
    max-width: 320px;
    margin-top: 15px;
    border-radius: 15px;
}


.right-side {
    flex: 1;
    padding: 35px;
    box-shadow: 0 10px 25px;
    border-radius: 15px;
}

.right-side h2 {
    font-size: 20px;
}

.desc {
    color: #555;
    margin-bottom: 15px;
    font-size: 13px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    ;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;

}

.terms {
    font-size: 12px;
}

.create-btn {
    background: #0a0a08;
    color: #fff;
    padding: 12px;
    border: none;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

.create-btn:hover {
    background: #646463;
}

.or {
    text-align: center;
    margin: 10px 0;
    color: #777;
    font-size: 12px;
}

.navbar-main-container {
    background-color: rgb(137, 53, 53);
    color: rgb(244, 241, 241);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.project-name {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.main-logo {
    border-radius: 30px;

}

.nav-links-container {
    display: flex;
    gap: 20px;
    cursor: pointer;
    color: #f9f9f9;
}

.nav-text-container {
    color: #f9f5f5;
     text-decoration: none; 
}

.auth-links-containar {
    display: flex;
    gap: 20px;
    cursor: pointer;
}



.gallery-container-text{
    margin-top: 30px;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 30px;
}
.gallery-container{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 18px;
}

.sub-card-contain{
    position: relative;
    width:100%;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
    margin-left: 30px;
    gap :30px
}

.sub-card-contain img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s ease-in-out;
}

.sub-card-contain:hover img{
    transform: scale(1.02);
}

.tag{
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0,0,0,0.65);
    color: hsl(0, 0%, 100%);
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}

.footer {
     background-color: rgb(137, 53, 53);
    color: #fff;
    padding: 40px 8%;
    font-family: 'Poppins', sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;

}

.footer-top {
    text-align: center;
    margin-bottom: 30px;
}

.footer-logo {
    width: 150px;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 20px 0; 
  
}

.social-icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
   
}
.social-icons img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}


.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.col h4 {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.col a {
    display: block;
    margin: 6px 0;
    color: #eee;
    text-decoration: none;
    font-size: 14px;
    transition: .3s;
}

.col a:hover {
    color: #ffcc00;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .footer-links {
        text-align: center;
    }
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btn {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 6px 10px;
    font-size: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
}

.icon {
    width: 13px;
}

.footer {
    background-color: rgb(137, 53, 53);
    color: #fff;
    padding: 40px 8%;
    font-family: 'Poppins', sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;

}

.footer-top {
    text-align: center;
    margin-bottom: 30px;
}

.footer-logo {
    width: 150px;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 20px 0;


}

.social-icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;

}

.social-icons img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}


.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.col h4 {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.col a {
    display: block;
    margin: 6px 0;
    color: #eee;
    text-decoration: none;
    font-size: 14px;
    transition: .3s;
}

.col a:hover {
    color: #ffcc00;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .footer-links {
        text-align: center;
    }
}